* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
}

/* HIDE SCROLLBAR */
::-webkit-scrollbar {
    display: none;
}

/* PADDING SECTIONS */
.navigatie {
    margin-bottom: 6rem;
}

.menukaart, .loginadmin {
    padding-left: 10%;
    padding-right: 10%;
}

.welkom, .overons, .contact, .shoppingcart {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 6rem !important;
}

.openingstijden, .betalingsopties, .contactfooter {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

/* HR (SCHEIDINGSSTREEP) */
hr {
    width: 65%;
    margin-left: 17%;
    margin-bottom: 6rem;
}

/* LANDING */
.landing {
    width: 100%;
}

.landing-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../images/background.jpg");
    width: 100%;
    height: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titel{
    text-align: center;
    color: white;
}

.titel-h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    letter-spacing: 2px;
}

.titel-p {
    font-size: 20px;
}

/* NAVIGATIE */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease 0.2s;
}

.navbar li a:hover {
    background-color: lightgrey;
}

/* WELKOM TEKST */
.welkom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tekst-welkom {
    padding-right: 2rem;
}

.tekst-welkom h1, p {
    margin-bottom: 1rem;
}

.postcode {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 4rem;
    text-align: center;
}

.postcode h4 {
    margin-top: 1rem;
}

.postcode .input {
    border: none;
    background-color: white;
    padding: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: text;
    margin-right: 1rem;
}

.postcode form {
    margin-top: 2rem;
}

/* menukaart */
.menukaart {
    padding: 1rem;
    width: 80%;
    margin: auto;
    text-align: center;
}

.menukaart-tabel table {
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.menukaart-tabel td {
    text-align: left;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.menukaart-tekst {
    margin-bottom: 2rem;
}

/* bestelling */
.shoppingcart {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 1rem;
    width: 78%;
    margin: auto;
}

/* producten */
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    gap: 1rem;
}

.producten {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 1rem;
    min-height: 17rem;
}

.producten h4, h5 {
    margin-bottom: 1rem;
}

.product {
    font-family: 'Rock Salt', cursive;
}

/* BUTTON */
.button {
    border: none;
    background-color: #63c132;
    padding: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: ease 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: green;
    transform: scale(1.1);
}

/* footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: whitesmoke;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-titel {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

/* openingstijden */
.openingstijden-tabel {
    width: 100%;
}
.openingstijden-tabel th, .tijd {
    text-align: left;
}

.tijd {
    margin-left: 5rem;
}

/* betalingsopties icons list */
.betalingsopties-icons ul {
    display: flex;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    cursor: pointer;
}

.betalingsopties-icons i {
    margin-right: 10px;
}

.betalingsopties-icons li {
    margin-right: 2rem;
    transition: ease 0.4s;
}

.betalingsopties-icons li:hover {
    color: green;
    transform: scale(1.2);
}

/* CONTACTPAGINA */
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15%;
    padding-right: 15%;
}

.contactgegevens {
    padding-right: 2rem;
}

.contactgegevens h1, p {
    margin-bottom: 1rem;
}

