* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    background-color: whitesmoke;
}

/* HIDE SCROLLBAR */
::-webkit-scrollbar {
    display: none;
}

/* HR (SCHEIDINGSSTREEP) */
hr {
    width: 65%;
    margin-left: 17%;
    margin-bottom: 5rem;
}

/* BUTTON */
.button {
    border: none;
    background-color: #EBEBEB;
    padding: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: ease 0.4s;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.button:hover {
    background-color: #CECECE;
    color: black;
}

/* LANDING */
.landing-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../images/background.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landing-text {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.landing-text h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 74px;
    letter-spacing: 2px;
}

.landing-text p {
    font-size: 30px;
    margin-bottom: 2rem;
}

.navbar {
    margin-bottom: 5rem;
}

/* WELKOM TEXT */
#welcome {
    margin-bottom: 4rem;
}

.welcome-text {
    padding-right: 2rem;
}

.welcome-text h1, p {
    margin-bottom: 1rem;
}

/* WELKOM ZIPCODE */
.zipcode {
    background-color: white;
    border-radius: 10px;
    padding: 3rem;
    text-align: center;
}

.zipcode h4 {
    margin-top: 1rem;
}

.zipcode .input {
    border: none;
    background-color: whitesmoke;
    padding: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: text;
}

.zipcode form, .contactform form {
    margin-top: 2rem;
}

/* MENUKAART */
#menukaart {
    margin-bottom: 5rem;
}

.card {
    border: none;
    margin-bottom: 1rem;
}

.menu-text {
    margin-bottom: 2rem;
    text-align: center;
}

.producten {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
}

.producten h3, h4, h5 {
    margin-bottom: 1rem;
}

.product {
    font-family: 'Rock Salt', cursive;
}

/* SHOPPINGCART */
.shoppingcart {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 1rem;
    width: 78%;
    margin: auto;
}

/* FOOTER */
.footer {
    background-color: #1F1F1F;
    color: white;
}

.footer-column {
  padding: 3rem;
}

.footer-titel {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* OPENINGSTIJDEN */
.openingstijden-tabel {
    width: 100%;
}
.openingstijden-tabel th, .tijd {
    text-align: left;
}

.tijd {
    margin-left: 5rem;
}

/* BETALINGSOPTIES */
.betalingsopties-icons ul {
    display: flex;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    cursor: pointer;
}

.betalingsopties-icons i {
    margin-right: 10px;
}

.betalingsopties-icons li {
    margin-right: 2rem;
    transition: ease 0.4s;
}

.betalingsopties-icons li:hover {
    color: green;
    transform: scale(1.2);
}

/* CONTACTPAGINA */
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15%;
}

.contactgegevens {
    padding-right: 2rem;
}

.contactgegevens h1, p {
    margin-bottom: 1rem;
}

