* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
}

/* hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* padding van sections */
.landing {
    margin-bottom: 5rem;
}

.welkom, .menu, .overons {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 6rem;
}

.openingstijden, .betalingsopties {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 6rem;
}

/* hr scheidingsstreep */
hr {
    width: 65%;
    margin-left: 17%;
    margin-bottom: 6rem;
}

/* landing image, titel en tekst */
.landing {
    width: 100%;
}

.landing-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../images/background.jpg");
    width: 100%;
    height: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titel{
    text-align: center;
    color: white;
}

.titel-h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: -20px;
}

.titel-p {
    font-size: 20px;
}

/* menukaart */
.menukaart {
    padding: 1rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #63c132,rgba(0, 0, 0, 0)) 1 100%;
    text-align: center;
}

.menukaart-tabel table {
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.menukaart-tabel td {
    text-align: left;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.menukaart-tekst {
    margin-bottom: 2rem;
}

/* bestelling */
.order {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 2rem;
}

/* openingstijden */
.openingstijden-tabel table {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
}

.openingstijden-tabel th {
    text-align: left;
}

.openingstijden-tabel td {
    text-align: right;
}

/* betalingsopties icons list */
.betalingsopties-icons ul {
    display: flex;
    width: 40%;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
}

.betalingsopties-icons li {
    padding: 1rem;
}

.betalingsopties-icons i {
    margin-right: 10px;
}

/* mediaqueries */
@media screen and (max-width: 768px) {

}

/* TEST form producten */
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    gap: 1rem;
}

.producten {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 1rem;
    min-height: 17rem;
}

.producten h4, h5 {
    margin-bottom: 1rem;
}

.product {
    font-family: 'Rock Salt', cursive;
}

/* BUTTON GREEN HOVER*/
.button {
    border: none;
    background-color: #63c132;
    padding: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: ease 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #84d35a;
}

/* TEST welkom */
.welkom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tekst-welkom {
    padding-right: 2rem;
}

.tekst-welkom h1, p {
    margin-bottom: 1rem;
}

.postcode {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 4rem;
    text-align: center;
}

.postcode h4 {
    margin-top: 1rem;
}

.postcode .input {
    border: none;
    background-color: white;
    padding: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: text;
    margin-right: 1rem;
}

.postcode form {
    margin-top: 2rem;
}