* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
}

/* HIDE SCROLLBAR */
::-webkit-scrollbar {
    display: none;
}

/* PADDING SECTIONS */
.navigationbar {
    margin-bottom: 6rem;
}

.menukaart, .loginadmin {
    padding-left: 10%;
    padding-right: 10%;
}

.welcome, .overons, .contact, .shoppingcart {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 6rem !important;
}

.openingstijden, .betalingsopties, .contactfooter {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

/* HR (SCHEIDINGSSTREEP) */
hr {
    width: 65%;
    margin-left: 17%;
    margin-bottom: 6rem;
}

/* BUTTON */
.button {
    border: none;
    background-color: #63c132;
    padding: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: ease 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: green;
    transform: scale(1.1);
}

/* LANDING */
.landing {
    width: 100%;
}

.landing-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../images/background.jpg");
    width: 100%;
    height: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landing-text {
    text-align: center;
    color: white;
}

.landing-text h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    letter-spacing: 2px;
}

.landing-text p {
    font-size: 20px;
}

/* NAVIGATIE */
.navigationbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    text-align: center;
}

.navigationbar li {
    display: inline-block;
}

.navigationbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease 0.2s;
}

.navigationbar li a:hover {
    background-color: lightgrey;
}

/* WELKOM TEXT */
.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcome-text {
    padding-right: 2rem;
}

.welcome-text h1, p {
    margin-bottom: 1rem;
}

/* WELKOM ZIPCODE */
.zipcode, .contactform {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 3rem;
    text-align: center;
}

.zipcode h4 {
    margin-top: 1rem;
}

.zipcode .input, .contactform-form input, .contactform-form textarea {
    border: none;
    background-color: white;
    padding: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: text;
}

.zipcode form, .contactform form {
    margin-top: 2rem;
}

/* MENUKAART */
.menu {
    padding: 1rem;
    width: 80%;
    margin: auto;
    text-align: center;
}

.menu-tabel table {
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.menu-tabel td {
    text-align: left;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.menu-text {
    margin-bottom: 2rem;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    gap: 1rem;
}

.producten {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 1rem;
    min-height: 17rem;
}

.producten h4, h5 {
    margin-bottom: 1rem;
}

.product {
    font-family: 'Rock Salt', cursive;
}

/* SHOPPINGCART */
.shoppingcart {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 1rem;
    width: 78%;
    margin: auto;
}

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: whitesmoke;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-titel {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

/* OPENINGSTIJDEN */
.openingstijden-tabel {
    width: 100%;
}
.openingstijden-tabel th, .tijd {
    text-align: left;
}

.tijd {
    margin-left: 5rem;
}

/* BETALINGSOPTIES */
.betalingsopties-icons ul {
    display: flex;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    cursor: pointer;
}

.betalingsopties-icons i {
    margin-right: 10px;
}

.betalingsopties-icons li {
    margin-right: 2rem;
    transition: ease 0.4s;
}

.betalingsopties-icons li:hover {
    color: green;
    transform: scale(1.2);
}

/* CONTACTPAGINA */
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15%;
}

.contactgegevens {
    padding-right: 2rem;
}

.contactgegevens h1, p {
    margin-bottom: 1rem;
}

