

/* navigatie */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease 0.2s;
}

.navbar li a:hover {
    background-color: lightgrey;
}

/* welkom */
.loginadmin {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.postcode {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 4rem;
    text-align: center;
}

.postcode h4 {
    margin-top: 1rem;
}

.postcode .input {
    border: none;
    background-color: white;
    padding: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: text;
    margin-right: 1rem;
}

.postcode form {
    margin-top: 2rem;
}

/* BUTTON */
.button {
    border: none;
    background-color: #63c132;
    padding: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: ease 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: green;
    transform: scale(1.1);
}

/* footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: whitesmoke;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-titel {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

/* openingstijden */
.openingstijden-tabel {
    width: 100%;
}
.openingstijden-tabel th, .tijd {
    text-align: left;
}

.tijd {
    margin-left: 5rem;
}

/* betalingsopties icons list */
.betalingsopties-icons ul {
    display: flex;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    cursor: pointer;
}

.betalingsopties-icons i {
    margin-right: 10px;
}

.betalingsopties-icons li {
    margin-right: 2rem;
    transition: ease 0.4s;
}

.betalingsopties-icons li:hover {
    color: green;
    transform: scale(1.2);
}

/* CONTACTPAGINA */
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contactgegevens {
    padding-right: 2rem;
}

.contactgegevens h1, p {
    margin-bottom: 1rem;
}

